.env
trueskill_automate - Copy.py
test_file_splitting.py
supervive_id_getter.py
scraping.code-workspace
arena_trueskill_api.py
Discord_bot_code.txt
TODO
test_files
data_files
test_json.py
temp_saves
scratch.py
discord.log
parse_coyote_file.py
chrome_stealth.py
TODO.txt
__pycache__